body {
	font-size: 50px;
	text-align: center;
}

.font1 {
	font-family: 'Josefin Slab', serif;
}
.font2 {
	font-family: 'Raleway', sans-serif;
}

.font3 {
	
}

.font4 {
	
}

.font5 {
	
}

.font6 {
	
}